<div class="container">
    <app-card
        [title]="'Zew Cthulhu'"
        [subtitle]="'zestaw dźwięków'"
        [imgSrc]="'assets/cthulhu-default.jpeg'"
        [href]="'/sounds-and-moods/cthulhu'"
    ></app-card>
    <app-card
        [title]="'Wiedźmin'"
        [subtitle]="'zestaw dźwięków'"
        [imgSrc]="'assets/witcher-default.webp'"
        [disabled]="true"
        [href]="'/sounds-and-moods/witcher'"
    ></app-card>
    <app-card
        *ngIf="isAdmin$ | async"
        [title]="'Admin'"
        [subtitle]="'panel administratora'"
        [imgSrc]="'assets/admin-card.jpg'"
        [href]="'/admin'"
    ></app-card>
</div>