<div class="container">
    <app-card
        [title]="'Cthulhu'"
        [subtitle]="'zestaw dźwięków'"
        [imgSrc]="'../../../../assets/cthulhu-default.jpeg'"
        [description]="'Zestaw dźwięków otoczenia ze świata przedstawionego w uniwersum Zewu Cthulhu. Pisk otwieranych drzwi, dźwięk odpalanego automobilu, muzyka jazzowa i wiele innych.'"
        [href]="'sounds-and-moods/cthulhu'"
    ></app-card>
    <app-card
        [title]="'Wiedźmin'"
        [subtitle]="'zestaw dźwięków'"
        [imgSrc]="'../../../../assets/witcher-default.webp'"
        [description]="'Zestaw dźwięków otoczenia pozwalających na wprowadzenie graczy w wiedźmiński świat. Strona w trakcie tworzenia.'"
        [disabled]="true"
        [href]="'sounds-and-moods/witcher'"
    ></app-card>
</div>