<div class="container">
    <app-card
        *ngFor="let category of categories$ | async"
        [title]="category.name"
        [subtitle]="'zestaw dźwięków'"
        [imgSrc]="category.poster_url ? category.poster_url : 'assets/cthulhu-default.jpeg'"
        [href]="'/sounds-and-moods/' + category.id"
    ></app-card>
    <app-card
        *ngIf="isAdmin$ | async"
        [title]="'Admin'"
        [subtitle]="'panel administratora'"
        [imgSrc]="'assets/admin-card.jpg'"
        [href]="'/admin'"
    ></app-card>
</div>