@use '@angular/material' as mat;
@use "../../../../../palettes.scss" as palettes;

mat-card {
    display: flex;
    max-width: 400px;
    max-height: 500px;
    background: mat.get-color-from-palette(palettes.$teal-palette, 700);
    margin: 15px;

    mat-card-header {
        padding: 16px;
    }

    mat-card-content {
        padding: 10px 16px;
    }

    mat-card-actions {
        margin-top: auto;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;

        a {
            padding: 5px 15px;
        }
    }
}

.card__disabled {
    pointer-events: none;
    filter: grayscale(0.9) contrast(0.5)
}


@media only screen and (max-width: 750px) {
    mat-card {
        width: 100%;

        mat-card-actions {
            margin-bottom: 0px;
    
            a {
                padding: 5px;
            }
        }
    }
  }