<mat-toolbar>
    <span>Dźwięki</span>
    <app-search-input (search)="search($event)"></app-search-input>
    <div class="volume">
        <mat-icon>volume_up</mat-icon>
        <mat-slider min="0" max="1" step="0.01">
            <input matSliderThumb value="1" (input)="setVolume($any($event.target).value)">
        </mat-slider>
    </div>  
</mat-toolbar>
<app-spinner [loading$]="loading$"></app-spinner>
<div *ngIf="(sounds | async) as soundsList" class="container">
    <app-sound-card 
    *ngFor="let item of soundsList" 
    [data]="item" 
    [state]="state" 
    (openFile)="openFile($event)"
    ></app-sound-card>
</div>
