<mat-card>
    <mat-card-header>
      <mat-card-title>
          {{data.name}}
          <button [disableRipple]="true" mat-icon-button class="favorite-button">
              <mat-icon class="favorite-icon">{{data.isFavorite ? 'favorite' : 'favorite_border'}}</mat-icon>
          </button>
      </mat-card-title>
    </mat-card-header>
    <div class="image-container">
      <img [ngClass]="data.posterUrl ? '' : 'default-card'"
        [src]="data.posterUrl ? data.posterUrl : '../../../assets/cthulhu-default.jpeg'"/>
      <div class="slider" *ngIf="state.currentSoundSrc === data.url && state.currentTime !== state.duration">
        <mat-slider min="0" [max]="state.duration" step="1">
          <input matSliderThumb [value]="state.currentTime" (input)="seekTo($any($event.target).value)">
        </mat-slider>
      </div>
    </div>
    <mat-card-footer>
      <button mat-icon-button (click)="play()" *ngIf="!state.playing || state.currentSoundSrc !== data.url">
          <mat-icon class="play-icon">play_circle_outline</mat-icon>
      </button>
      <button mat-icon-button (click)="pause()" *ngIf="state.playing && state.currentSoundSrc === data.url">
          <mat-icon class="play-icon">pause_circle_outline</mat-icon>
      </button>
    </mat-card-footer>
  </mat-card>