@use '@angular/material' as mat;
@use "../../../../../palettes.scss" as palettes;

:host {
    box-sizing: border-box;
    width: 100%;

    mat-card {
        position: relative;
        box-sizing: border-box;
        margin: 10px 10px 0 10px;
        background: mat.get-color-from-palette(palettes.$teal-palette, 600);
        overflow: hidden;
        min-width: 450px;

        &:hover {
            .slider {
                opacity: 0.95;
            }
        }
    }
    
    .mat-card__active {
        outline: 5px solid mat.get-color-from-palette(palettes.$teal-palette, 900);
    }

    mat-card-content {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    mat-card-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        line-height: 1.4;
    }

    mat-slider {
        max-width: 200px;
        min-width: 150px;
    }

    .slider {
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        top: 0%;
        left: 0%;
        height: 100%;
        padding: 5px 5px 5px 20px;
        opacity: 0;
        background: mat.get-color-from-palette(palettes.$teal-palette, 600);
        transition: 0.2s;
    }

    .actions {
        display: flex;
        align-items: center;
    }

    .main-button {
        margin-left: 5px;
    }

    .smooth-play-button {
        transform: scale(0.7);
    }

    .active-button {
        color: mat.get-color-from-palette(palettes.$teal-palette, 900);
    }

    .icon {
        transform: scale(1.5);
    }
}