<mat-card>
  <mat-card-header>
    <mat-card-title>
        {{data.name}}
        <button mat-icon-button class="favorite-button">
            <mat-icon class="favorite-icon">{{data.isFavorite ? 'favorite' : 'favorite_border'}}</mat-icon>
        </button>
    </mat-card-title>
    <mat-card-subtitle>{{data.group}}</mat-card-subtitle>
  </mat-card-header>
    <img [ngClass]="data.posterUrl ? '' : 'default-card'" mat-card-image 
      [src]="data.posterUrl ? data.posterUrl : '../../../assets/default-sound.jpeg'"/>
  <mat-card-footer>
    <button mat-icon-button>
        <mat-icon class="play-icon">play_circle_outline</mat-icon>
    </button>
  </mat-card-footer>
</mat-card>
