<mat-toolbar>
    <span>Nastrój</span>
    <div class="volume">
        <mat-icon>volume_up</mat-icon>
        <mat-slider min="0" max="1" step="0.01">
            <input matSliderThumb value="1" (input)="setVolume($any($event.target).value)">
        </mat-slider>
    </div>  
</mat-toolbar>
<div *ngIf="(moods | async) as moodsList" class="container">
    <app-mood-card 
    *ngFor="let item of moodsList" 
    [data]="item" 
    [state]="state" 
    (openFile)="openFile($event)"
    ></app-mood-card>
</div>
