@use '@angular/material' as mat;
@use "../../../palettes.scss" as palettes;

.container {
    width: 100%;
    display: flex;

    .sounds {
        width: 60%;
        border-left: 10px solid mat.get-color-from-palette(palettes.$teal-palette, 700);
    }

    .moods {
        width: 40%;
    }
}