@use '@angular/material' as mat;
@use "../../../palettes.scss" as palettes;

:host {
    width: 100%;
    .container {
        box-sizing: border-box;
        display: flex;
        width: 100%;
        height: 100%;
    
        .sounds {
            width: 60%;
        }
    
        .moods {
            width: 40%;
        }
    }
}



@media only screen and (max-width: 750px) {
    :host {
        .container {    
                flex-direction: column;
                overflow: hidden;
    
            .sounds {
                width: 100%;
                height: 50%;
                background-color: mat.get-color-from-palette(palettes.$teal-palette, 200);
                z-index: 1;
            }
    
            .moods {
                width: 100%;
                height: 50%;
                background-color: mat.get-color-from-palette(palettes.$teal-palette, 200);
            }
        }
    }
  }

  @media only screen and (min-width: 750px) and (max-width: 1000px){
    :host {
        .container {
    
            .sounds {
                width: 50%;
            }
    
            .moods {
                width: 50%;
            }
        }
    }
  }
