<mat-toolbar>
    <span>Nastrój</span>
    <div class="actions">
        <div class="repeat">
            <button mat-icon-button (click)="toggleRepeat()">
                <mat-icon [ngClass]="(repeat$ | async) ? 'active' : ''">repeat</mat-icon>
            </button>
        </div>
        <div class="volume">
            <mat-icon>volume_up</mat-icon>
            <mat-slider min="0" max="1" step="0.01">
                <input matSliderThumb [value]="volume$ | async" (input)="setVolume($any($event.target).value)">
            </mat-slider>
        </div>  
    </div>
</mat-toolbar>
<app-spinner [loading$]="loading$"></app-spinner>
<div *ngIf="(moods | async) as moodsList" class="container">
    <app-mood-card 
    *ngFor="let item of moodsList" 
    [data]="item"
    [repeat$]="repeat$"
    [volumeMultiplier$]="volume$"
    ></app-mood-card>
</div>
