@use '@angular/material' as mat;
@use "../../../palettes.scss" as palettes;


$toolbar-height: 50px;

.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: calc(100% - $toolbar-height);
    width: 100%;
    overflow-y: auto;
    padding: 10px;
}

mat-toolbar {    
    display: flex;
    justify-content: space-between;
    height: $toolbar-height;
    background: mat.get-color-from-palette(palettes.$teal-palette, 700);
    font-size: medium;
    width: 100%;

    .actions {
        display: flex;
        align-items: center;

        .repeat {
            display: flex;
            align-items: center;

            .active {
                color: mat.get-color-from-palette(palettes.$teal-palette, 900);
            }
        }

        .volume {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}
