@use '@angular/material' as mat;
@use "../../../../../palettes.scss" as palettes;

:host {
    width: 100%;

    mat-card {
        position: relative;
        margin: 5px 0 5px 0;
        background: mat.get-color-from-palette(palettes.$teal-palette, 600);
        overflow: hidden;
        width: 100%;

        &:hover {
            .slider {
                opacity: 1;
            }
        }
    }
    .mat-card__active {
        outline: 2px solid white;
    }

    mat-card-content {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    mat-card-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        line-height: 1.4;
    }

    mat-slider {
        max-width: 200px;
        min-width: 150px;
    }

    .slider {
        position: absolute;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        left: 0%;
        height: 100%;
        padding: 5px 20px 5px 20px;
        opacity: 0;
        background: linear-gradient(
            90deg, 
            rgba(mat.get-color-from-palette(palettes.$teal-palette, 600), 1) 0%, 
            rgba(mat.get-color-from-palette(palettes.$teal-palette, 600), 1) 90%, 
            rgba(mat.get-color-from-palette(palettes.$teal-palette, 600), 0) 100%);
        transition: 0.2s;
        z-index: 1;
    }

    .actions {
        display: flex;
        align-items: center;
    }

    .main-button {
        margin-left: 5px;
    }

    .smooth-play-button {
        transform: scale(0.7);
    }

    .active-button {
        color: mat.get-color-from-palette(palettes.$teal-palette, 900);
    }

    .icon {
        transform: scale(1.5);
    }
}


@media only screen and (max-width: 1024px) {
    :host {
        .slider {
            display: none;
        }

        .actions {
            justify-content: flex-end;

            .volume-slider {
                max-width: 50%;
                min-width: 100px;
                margin-left: 2px;
                margin-right: 10px;
            }

            .icon-volume {
                margin-left: 5px;
            }
        }

    }
  }